.chat-widget-chat-window-container {
    width: 100vw;
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 50;
    max-width: 28rem;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .chat-window-button-container {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 50;
  }
  
  .chat-window-chat-button {
    background-color: #3b82f6;
    color: #ffffff;
    padding: 1rem;
    border-radius: 9999px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease;
    animation: pulse 2s infinite;
    border: none;
  }
  
  .chat-window-chat-button-hover {
    background-color: #1e40af;
  }
  